* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  body, html {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100vh;
  }
  
  nav {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    margin: auto;
    flex-wrap: wrap;
  }
  
  nav ul {
    list-style-type: none;
    padding-left: 0;
    
  }
  
  header {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .promotion {
    text-align: center;
  }
  
  section {
    padding: 1em;
  }
  
  /* footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    background-color: rgba(147, 138, 138, 0.2);
    backdrop-filter: blur(10px);
  } */

/* Probando algo nuevo a ver */

  footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  footer img {
    max-width: 20%;
  }
  
  small {
    color: #777777;
    white-space: nowrap;
    width: 40%;
  }

.parts {
  display: grid;
  justify-content: space-between;
  /* Diseño no responsive de 3 columnas x 2 filas */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 1em;
  width: 100%;
}

.parts img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  justify-self: center;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}


.promotion img {
 /* Imagen responsiva */

  /* margin-top: 5%;
  max-width: 50%;
  min-width: 10px; */

  /* Image cutted */

  /* width: 50vw;
  height: 30vh;
  max-width: 1200px;
  object-fit: cover;  */
  top: -15px;
  object-fit: cover;
  height: 50vh;
  width: 100vw;
  min-width: 400px;
  max-width: 1200px;
  object-position: 50% 60%;
  margin: 0 auto;
}

.centrado {
  position: relative;
  display: inline-block;
}

.title {
  z-index: 10;
  color: aliceblue;
  position: absolute;
  width: 100%;
  top: 35%;
  letter-spacing: 2px;
  font-size: 2.5rem; 
}

.title2 {
  position: absolute;
  color: aliceblue;
  z-index: 10;
  color: aliceblue;
  position: absolute;
  width: 100%;
  top: 52%;
}

.promotion img:hover {
  transform: none;
}

a {
  text-decoration: none;
  color: rgb(35, 41, 13);
  
}

a:hover {
  color: rgb(104, 110, 20);

}

ul:hover {
  transform: scale(1.06,1.06);
  transition: 1000ms;
  border-bottom: solid 1px rgb(104, 110, 20);
}

img:hover {
  transform: scale(1.06,1.06);
  transition: 1000ms;
}



@media screen { 
  
}